# {{TITLE}}

| 欄位 | 值 |
|------|----|
| 產生時間 | {{DATETIME}} |
| 執行指令 | `{{GIT_COMMAND}}` |
| 子 skill | {{SKILL_NAME}} |
| 版本 | {{SKILL_VERSION}} |

---

{{CONTENT}}

---

*由 `vcs-helper/{{SKILL_NAME}}` 產生*
